@model List<Article>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@foreach (var item in Model)
{

    <a href="marketing-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="w-100 justify-content-between">
            <img src="@item.CoverImageUrl" alt="" class="img-fluid float-left">
            <a href="/Default/ArticleDetails/@item.ArticleId"><h5 class="mb-1">@item.Title</h5></a>
            <small>@item.CreatedDate.ToShortDateString()</small>
        </div>
    </a>

}







