@model List<Comment>

@{
    Layout = null;
}

<div class="custombox clearfix">
    <h4 class="small-title">Yorumlar</h4>
    <div class="row">
        <div class="col-lg-12">
            <div class="comments-list">


                @foreach (var item in Model)
                {

                    <div class="media">

                        <div class="media-body">
                            <h4 class="media-heading user_name">@item.AppUser.Name @item.AppUser.Surname <small>@item.CreatedDate.ToShortDateString()</small></h4>
                            <p>@item.CommentDetail</p>
                            <a href="#" class="btn btn-primary btn-sm">Cevapla</a>
                        </div>
                    </div>

                }


            </div>
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end custom-box -->